<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" dir="ltr">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="robots" content="noodp"/>
						<meta name="keywords" content="{{title}}" />
		<link rel="shortcut icon" href="/wiki/favicon.ico" />
		<link rel="search" type="application/opensearchdescription+xml" href="/wiki/opensearch_desc.php" title="NMR Wiki (English)" />
		<link title="Creative Commons" type="application/rdf+xml" href="/wiki/index.php?title=Requirements_for_the_Pulse_Sequence_database&amp;action=creativecommons" rel="meta" />

		<link rel="copyright" href="http://creativecommons.org/licenses/by/3.0/" />
<link rel="alternate" type="application/rss+xml" title="NMR Wiki RSS Feed" href="http://nmrwiki.org/wiki/index.php?title=Special:Recentchanges&amp;feed=rss" />
<link rel="alternate" type="application/atom+xml" title="NMR Wiki Atom Feed" href="http://nmrwiki.org/wiki/index.php?title=Special:Recentchanges&amp;feed=atom" />
		<title>{{title}} - {{site_name}}</title>
		<script type= "text/javascript">/*<![CDATA[*/
var skin = "monobook";
var stylepath = "/wiki/skins";
var wgArticlePath = "/wiki/index.php?title=$1";
var wgScriptPath = "/wiki";
var wgScript = "/wiki/index.php";
var wgServer = "http://nmrwiki.org";
var wgCanonicalNamespace = "";
var wgCanonicalSpecialPageName = false;
var wgNamespaceNumber = 0;
var wgPageName = "Requirements_for_the_Pulse_Sequence_database";
var wgTitle = "Requirements for the Pulse Sequence database";
var wgAction = "view";
var wgRestrictionEdit = [];
var wgRestrictionMove = [];
var wgArticleId = "3592";
var wgIsArticle = true;
var wgUserName = "kgroulx";
var wgUserGroups = ["*", "user", "autoconfirmed", "emailconfirmed"];
var wgUserLanguage = "en";
var wgContentLanguage = "en";
var wgBreakFrames = false;
var wgCurRevisionId = "20646";
var wgVersion = "1.12.0";
var wgEnableAPI = true;
var wgEnableWriteAPI = false;
var wgAjaxWatch = {"watchMsg": "Watch", "unwatchMsg": "Unwatch", "watchingMsg": "Watching...", "unwatchingMsg": "Unwatching..."};
/*]]>*/</script>
		<style type="text/css" media="screen, projection">/*<![CDATA[*/
			@import "/wiki/skins/common/shared.css?116";
			@import "/wiki/skins/monobook/main.css?116";
		/*]]>*/</style>
		<link rel="stylesheet" type="text/css" media="print" href="/wiki/skins/common/commonPrint.css?116" />
		<!--[if lt IE 5.5000]><style type="text/css">@import "/wiki/skins/monobook/IE50Fixes.css?116";</style><![endif]-->

		<!--[if IE 5.5000]><style type="text/css">@import "/wiki/skins/monobook/IE55Fixes.css?116";</style><![endif]-->
		<!--[if IE 6]><style type="text/css">@import "/wiki/skins/monobook/IE60Fixes.css?116";</style><![endif]-->
		<!--[if IE 7]><style type="text/css">@import "/wiki/skins/monobook/IE70Fixes.css?116";</style><![endif]-->
		<!--[if lt IE 7]><script type="text/javascript" src="/wiki/skins/common/IEFixes.js?116"></script>
		<meta http-equiv="imagetoolbar" content="no" /><![endif]-->
		
                
		<style type="text/css">/*<![CDATA[*/
@import "/wiki/index.php?title=MediaWiki:Common.css&usemsgcache=yes&action=raw&ctype=text/css&smaxage=18000";
@import "/wiki/index.php?title=MediaWiki:Monobook.css&usemsgcache=yes&action=raw&ctype=text/css&smaxage=18000";
@import "/wiki/index.php?title=-&action=raw&gen=css&maxage=18000&smaxage=0";
/*]]>*/</style>
		<!-- Head Scripts -->
				<script type="text/javascript" src="/wiki/skins/common/ajax.js?116"></script>
		<script type="text/javascript" src="/wiki/skins/common/ajaxwatch.js?116"></script>

		<script type="text/javascript" src="/wiki/skins/common/wikibits.js?116"><!-- wikibits js --></script>
		<script type="text/javascript" src="/wiki/index.php?title=-&amp;action=raw&amp;smaxage=0&amp;gen=js&amp;useskin=monobook"><!-- site js --></script>
	</head>
<body class="mediawiki ns-0 ltr page-Requirements_for_the_Pulse_Sequence_database">
	<div id="globalWrapper">
		<div id="column-content">
	<div id="content">
		<a name="top" id="top"></a>

				<h1 class="firstHeading">{{title}}</h1>
		<div id="bodyContent">
			<h3 id="siteSub">From NMR Wiki</h3>
			<div id="contentSub"></div>
									<div id="jump-to-nav">Jump to: <a href="#column-one">navigation</a>, <a href="#searchInput">search</a></div>			<!-- start content -->
{% block content %}{% endblock %}

<div class="printfooter">
Retrieved from "<a href="http://nmrwiki.org/wiki/index.php?title=Requirements_for_the_Pulse_Sequence_database">http://nmrwiki.org/wiki/index.php?title=Requirements_for_the_Pulse_Sequence_database</a>"</div>
						<!-- end content -->
			<div class="visualClear"></div>
		</div>
	</div>
		</div>

		<div id="column-one">
	<div class="portlet" id="p-personal">
		<h5>Personal tools</h5>
		<div class="pBody">
			<ul>
				<li id="pt-0"><a href="/wiki/index.php?title=User:Kgroulx" class="new">kgroulx</a></li>
				<li id="pt-1"><a href="/wiki/index.php?title=UserWiki:Kgroulx" class="new">my page</a></li>
				<li id="pt-mytalk"><a href="/wiki/index.php?title=User_talk:Kgroulx" title="My talk page [n]" accesskey="n" class="new">My talk</a></li>

				<li id="pt-preferences"><a href="/wiki/index.php?title=Special:Preferences" title="My preferences">My preferences</a></li>
				<li id="pt-watchlist"><a href="/wiki/index.php?title=Special:Watchlist" title="The list of pages you're monitoring for changes [l]" accesskey="l">My watchlist</a></li>
				<li id="pt-mycontris"><a href="/wiki/index.php?title=Special:Contributions/kgroulx" title="List of my contributions [y]" accesskey="y">My contributions</a></li>
				<li id="pt-logout"><a href="/wiki/index.php?title=Special:Userlogout&amp;returnto=Requirements_for_the_Pulse_Sequence_database" title="Log out">Log out</a></li>
			</ul>
		</div>
	</div>

	<div class="portlet" id="p-logo">
		<a style="background-image: url(/wiki/logo-v1.4.4.png);" href="/wiki/index.php?title=Main_Page" title="Visit the Main Page [z]" accesskey="z"></a>
	</div>
	<script type="text/javascript"> if (window.isMSIE55) fixalpha(); </script>

	<div class="portlet">
<a name="navigation"></a><h5> <span class="mw-headline">navigation</span></h5>
<div class="pBody">
<ul><li><a href="/wiki/index.php?title=Main_Page" title="Main Page">Home</a> | <a href="/wiki/index.php?title=Help:Contents" title="Help:Contents"><i>Wiki docs</i></a>

</li><li><a href="/wiki/index.php?title=Special:Recentchanges" title="Special:Recentchanges">Recent changes</a>
</li></ul>
</div>
</div>
<div class="portlet">
<a name="community"></a><h5> <span class="mw-headline">community</span></h5>
<div class="pBody">
<ul><li><a href="http://qa.nmrwiki.org" class="external text" title="http://qa.nmrwiki.org" rel="nofollow"><b>Q&amp;A forum</b></a>
</li><li><a href="http://twitter.com/nmrwiki" class="external text" title="http://twitter.com/nmrwiki" rel="nofollow">@nmrwiki (twitter)</a>
</li><li><a href="/wiki/index.php?title=Special:People" title="Special:People">people</a> | <a href="/wiki/index.php?title=Laboratories_and_facilities" title="Laboratories and facilities">labs</a>

</li><li><a href="/wiki/index.php?title=Companies" title="Companies">companies</a>
</li><li><a href="/wiki/index.php?title=NMR_Journals" class="mw-redirect" title="NMR Journals">journals</a> | <a href="/wiki/index.php?title=Blogs" title="Blogs">blogs</a>
</li><li><a href="/wiki/index.php?title=Magnetic_resonance_web" title="Magnetic resonance web">web</a>
</li><li><a href="/wiki/index.php?title=Meetings" title="Meetings">meetings</a>
</li><li><a href="/wiki/index.php?title=History_of_Magnetic_Resonance" title="History of Magnetic Resonance">history of MR</a>
</li></ul>
</div>
</div>
<div class="portlet">

<a name="Contents"></a><h5> <span class="mw-headline">Contents</span></h5>
<div class="pBody">
<ul><li><a href="/wiki/index.php?title=Category:NMR" title="Category:NMR">NMR (all topics)</a>
</li></ul>
<dl><dd><a href="/wiki/index.php?title=Materials_for_teaching_NMR" title="Materials for teaching NMR">teaching</a>
</dd><dd><a href="/wiki/index.php?title=Special:PulseSequenceDatabase" title="Special:PulseSequenceDatabase">pulse sequences</a>
</dd><dd><a href="/wiki/index.php?title=Category:NMR_experiment" title="Category:NMR experiment">experiments</a>
</dd><dd><a href="/wiki/index.php?title=Category:Software" title="Category:Software">software</a>
</dd><dd><a href="/wiki/index.php?title=NMR_Reference_%26_Data_Repositories" title="NMR Reference &amp; Data Repositories">reference</a>

</dd></dl>
<ul><li><a href="/wiki/index.php?title=Category:EPR" title="Category:EPR">EPR/ESR</a>
</li><li><a href="/wiki/index.php?title=Category:MRI" title="Category:MRI">MRI</a>
</li><li><a href="/wiki/index.php?title=Databases" title="Databases">Databases</a>
</li><li><a href="/wiki/index.php?title=Online_data_tools" title="Online data tools">Online tools</a>
</li><li><a href="/wiki/index.php?title=Special_gifts" class="mw-redirect" title="Special gifts">Special gifts</a>
</li><li><a href="/wiki/index.php?title=Category:Root" title="Category:Root">Sitemap</a>
</li></ul>
</div>
</div>

	<div class="portlet" id="p-tb">
		<h5>Toolbox</h5>
		<div class="pBody">
			<ul>
				<li id="t-whatlinkshere"><a href="/wiki/index.php?title=Special:Whatlinkshere/Requirements_for_the_Pulse_Sequence_database" title="List of all wiki pages that link here [j]" accesskey="j">What links here</a></li>
				<li id="t-recentchangeslinked"><a href="/wiki/index.php?title=Special:Recentchangeslinked/Requirements_for_the_Pulse_Sequence_database" title="Recent changes in pages linked from this page [k]" accesskey="k">Related changes</a></li>
<li id="t-upload"><a href="/wiki/index.php?title=Special:Upload" title="Upload files [u]" accesskey="u">Upload file</a></li>

<li id="t-specialpages"><a href="/wiki/index.php?title=Special:Specialpages" title="List of all special pages [q]" accesskey="q">Special pages</a></li>
				<li id="t-print"><a href="/wiki/index.php?title=Requirements_for_the_Pulse_Sequence_database&amp;printable=yes" title="Printable version of this page [p]" accesskey="p">Printable version</a></li>				<li id="t-permalink"><a href="/wiki/index.php?title=Requirements_for_the_Pulse_Sequence_database&amp;oldid=20646" title="Permanent link to this version of the page">Permanent link</a></li>			</ul>
		</div>
	</div>
		</div><!-- end of the left (by default at least) column -->
			<div class="visualClear"></div>
			<div id="footer">

				<div id="f-poweredbyico"><a href="http://www.mediawiki.org/"><img src="/wiki/skins/common/images/poweredby_mediawiki_88x31.png" alt="Powered by MediaWiki" /></a></div>
				<div id="f-copyrightico"><a href="http://creativecommons.org/licenses/by/3.0/"><img src="http://i.creativecommons.org/l/by/3.0/88x31.png" alt='Creative Commons Attribution 3.0 Unported License' /></a></div>
			<ul id="f-list">
				<li id="lastmod"> This page was last modified 00:42, 17 June 2011.</li>
				<li id="viewcount">This page has been accessed 45 times.</li>
				<li id="copyright">Content is available under <a href="http://creativecommons.org/licenses/by/3.0/" class="external " title="http://creativecommons.org/licenses/by/3.0/" rel="nofollow">Creative Commons Attribution 3.0 Unported License</a>.</li>

				<li id="privacy"><a href="/wiki/index.php?title=NMR_Wiki:Privacy_policy" title="NMR Wiki:Privacy policy">Privacy policy</a></li>
				<li id="about"><a href="/wiki/index.php?title=NMR_Wiki:About" title="NMR Wiki:About">About NMR Wiki</a></li>
				<li id="disclaimer"><a href="/wiki/index.php?title=NMR_Wiki:General_disclaimer" title="NMR Wiki:General disclaimer">Disclaimers</a></li>
			</ul>
		</div>
		
		
		<script type="text/javascript">if (window.runOnloadHook) runOnloadHook();</script>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));

</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3395157-1");
pageTracker._initData();
pageTracker._trackPageview();
</script></div>
<!-- Served in 0.259 secs. --></body></html>
