{% extends "base.html" %}
{% block content %}

<a href="{{ organization.url }}">Site for {{ title }}</a>

<h2>Description
<a href="">(edit)</a>
</h2>

<div class="descr">{{ organization.description }}</div>

<h2>Members</h2>

{% if request.user.is_authenticated() %}
<a href="{{ add_link }}/?org={{organization.id}}">
{% if organization.has_member(request.user) %}
    Add a new appointment 
{% else %}
    This is (was) my lab
{% endif %}
</a>
{% endif %}

{% if current_appointments %}
    <h3>Current</h3>
    <ul>
        {% for appointment in current_appointments %}
        <li><a href="blankappointmentpage">{{ appointment.user }}</a>
        </li>
        {% endfor %}
   </ul>
{% endif %}

{% if former_appointments %}
    <h3>Former</h3>
    <ul>
        {% for appointment in former_appointments %}
        <li><a href="blankappointmentpage">{{ appointment.user }}</a>
        - left {{ appointment.to_date }}
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}
