{% extends "base.html" %}
{% block content %}

{% if my_orgs %}
<h2>My Organizations</h2>
    <ul>
    {% for org in my_orgs %}
        <li><a href="{{ org.get_absolute_url() }}">{{ org.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% if all_orgs %}
    {% if my_orgs %}
        <h2>All Organizations</h2>
    {% endif %}
    <ul>
    {% for org in all_orgs %}
        <li><a href="{{ org.get_absolute_url() }}">{{ org.name }}</a></li>
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}        
