{% extends "base.html" %}
{% block content %}

<a href="{{ organization.url }}">Site for {{ title }}</a>

<h2>Description</h2>

<div class="org-descr-{{organization.id}}">
    {{ organization.description|mediawikiparse|safe }}
</div>

<h2>Members</h2>

{% if request.user.is_authenticated() %}
<a href="{{ add_link }}/?org={{organization.id}}">
{% if organization.has_member(request.user) %}
    Add a new appointment 
{% else %}
    This is (was) my lab
{% endif %}
</a>
{% endif %}

{% if current_appointments %}
    <h3>Current</h3>
    <ul>
        {% for appointment in current_appointments %}
        <li><a href="blankappointmentpage">{{ appointment.user }}</a>
        </li>
        {% endfor %}
   </ul>
{% endif %}

{% if former_appointments %}
    <h3>Former</h3>
    <ul>
        {% for appointment in former_appointments %}
        <li><a href="blankappointmentpage">{{ appointment.user }}</a>
        - left {{ appointment.to_date }}
        </li>
        {% endfor %}
    </ul>
{% endif %}

{% endblock %}

{% block endjs %}

{% if request.user.is_authenticated() %}
{% if organization.has_member(request.user) %}
    <script type="text/javascript">
    var isMember = true;
    </script>
{% endif %}
{% else %}
    <script type="text/javascript">
    var isMember = false;
    </script>
{% endif %}

<script type="text/javascript">
if (isMember){
var descrip = new Description();
descrip.setDataFormat('mediawiki');
descrip.setMultiline(true);
descrip.setObjectId({{organization.id}});
descrip.setObjectField('Organization', 'description');
descrip.decorate($('[class^="org-descr"]'));

var descrip2 = new Description();
descrip2.setObjectId({{organization.id}});
descrip2.setObjectField('Organization', 'name');
descrip2.decorate($('[class^="firstHeading"]'));
}
</script>

{% endblock %}
